/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #1b1b1b;
    color: #e0e0e0;
    background-image: url('https://st.depositphotos.com/2591003/60129/i/450/depositphotos_601295388-stock-photo-pitch-view-parc-des-princes.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Header Section */
.hero {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 60px;
    color: #e0e0e0;
}

.highlight {
    color: #c8102e;
}

.learn-more {
    padding: 10px 20px;
    border: 2px solid #c8102e;
    background-color: transparent;
    color: #c8102e;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.learn-more:hover {
    background-color: #c8102e;
    color: #fff;
}

/* Navigation */
.navbar {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
}

.navbar a {
    color: #e0e0e0;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background: #c8102e;
}

/* Missions Section */
.missions {
    padding: 40px 20px;
    text-align: center;
    color: #000;
}

.mission-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px auto;
    max-width: 800px;
}

.mission-cards a.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 180px;
    background: rgba(0, 0, 0, 0.7);
    color: #e0e0e0;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.mission-cards a.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background: #c8102e;
}

/* Travaux Pratiques (TP) Section */
.tp {
    padding: 40px 20px;
    text-align: center;
}

.tp-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.tp-grid a.tp-item {
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #e0e0e0;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.tp-grid a.tp-item:hover {
    background-color: #c8102e;
    transform: scale(1.05);
}

/* Contact Section */
.contact {
    padding: 40px;
    text-align: center;
}

.social-icons a i {
    font-size: 1.5em;
    color: #e0e0e0;
    margin: 10px;
    transition: color 0.3s;
}

.social-icons a i:hover {
    color: #c8102e;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    color: #e0e0e0;
}
