body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #3388CC;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white; /* Changé pour blanc afin de mieux contraster avec le fond bleu */
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline; /* Ajout d'un effet de survol */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #3388CC;
}

footer {
    text-align: center;
    margin: 20px 0;
    font-size: 0.8em;
}

ul {
    padding-left: 0; /* Retire le retrait par défaut des listes */
}

ul li {
    list-style-type: none; /* Retire les puces */
    margin-bottom: 10px; /* Ajoute un espace entre les éléments de la liste */
}
